.userpage__content {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.userpage-table {
    text-align: center;
    margin: 0 auto 30px;
}

.userpage__title {
    padding-top: 50px;
    margin-top: 0;
}

.userpage-table__inner {
    width: 100%;
    margin: 0 auto;
}

.userpage-table__row {
    border-top: 1px solid #000;
    height: 80px;
    text-align: left;
}

.userpage-table__header {
    padding-left: 50px;
}

.userpage-table__item {
    padding-left: 50px;
    width: 100px;
}

/*ページネーション*/
.pagination {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 50px auto;
}

.page-item {
    border: 1px solid #ddd;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.page-link {
    text-decoration: none;
    color: #2384CF;
    display: inline-block;
    line-height: 2.4;
}

span.page-link {
    color: #fff;
}

.active {
    background-color: #2384CF;
}