.userlist__content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.userlist-table__inner {
    width: 50%;
    margin: 0 auto;
}

.userlist-table__row {
    border: 1px solid #000;
    border-radius: 5px;
    height: 50px;
}


.userlist-table__title {
    width: 50px;
}

.userlist-table__item--name {
    font-size: 20px;
}

.userlist__button {
    width: 50%;
    height: 30px;
    border: 1px solid #214BE0;
    border-radius: 5px;
    background-color: #214BE0;
    color: #fff;
    cursor: pointer;
}

/*ページネーション*/
.pagination {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 50px auto;
}

.page-item {
    border: 1px solid #ddd;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.page-link {
    text-decoration: none;
    color: #2384CF;
    display: inline-block;
    line-height: 2.4;
}

span.page-link {
    color: #fff;
}

.active {
    background-color: #2384CF;
}